*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body{
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
  
header{
    text-align: center;
    color: #fff;
    background-color: #333;
    padding: 20px;
}
  
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
  
nav a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}
  
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
  
.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
  
.card {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    color: #333;
}
  
.card button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
  
.card button:hover {
    background-color: #3e8e41;
}